body {
  background: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  text-align: center;
  color: white;
}

#survey-form {
  background-color: rgba(27, 27, 50, 0.8);
  width: 50%;
  margin: 0 auto;
  padding: 30px;
}

.divBox {
  text-align: left;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.divBox input,
textarea,
select {
  padding: 8px;
  margin-top: 6px;
}
